.form {
  margin-bottom: 48px;
}
.locationLabel {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--secondary-text);
  gap: 8px;
  margin-bottom: 40px;
}
.locationInput {
  width: 360px;
  height: 56px;
  border-radius: 12px;
  border: none;
  background-color: var(--prime-text);
  color: var(--main);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 16px 20px;
}
.locationInput::placeholder {
  color: var(--secondary-text);
}
.text {
  color: var(--secondary-text);
  margin-bottom: 32px;
}
.equipmentContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}
.textBold {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--main);
  margin-bottom: 24px;
}
.box {
  width: 112px;
  height: 96px;
  border-radius: 12px;
  border: 1px solid var(--gray-light);
}
.activeBox {
  border: 1px solid var(--button);
}
.equipmentWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.checkbox {
  display: none;
}
.string {
  width: 360px;
  margin-bottom: 24px;
  border: 1px solid var(--gray-light);
}
.typeContainer {
  display: flex;
  margin-bottom: 40px;
  gap: 12px;
}
