.container {
  display: none;
}
.isOpen {
  display: block;
}
@media (min-width: 768px) {
}
@media (min-width: 1200px) {
  .container {
    display: block;
    width: 488px;
    padding: 48px 64px;
    overflow: scroll;
    height: 100vh;
  }
}
